//btn
.btn{
  &_red{@include btn($red,#fff)}
  &_blue{@include btn($blue,#fff)}
  &_blueLine{@include btn(#fff,$blue,$border:$blue)}
  &_gray{@include btn($paleGray,$border:#dadada)}
  &_black{@include btn($dark,#fff)}
  &_darkgray{@include btn(#a9a9a9,#fff)}
  &_grayLine{@include btn(#fff,$border:#8b8b8b)}
  &_prev{@include btn($addTxt:'\e88d');}
  &_next{@include btn($addTxt:'\e88a');}
  &_list{@include btn(#222,$color:#fff,$addTxt:'\e91e');}
  &_download{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\f02e',$border:$gray);&{font-size:14px;}}
  &_save{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\e8e7',$border:$gray);&{font-size:14px;}}
  &_delete{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\f1f8',$border:$gray);&{font-size:14px;}}
  &_modify{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\eb33',$border:$gray);&{font-size:14px;}}
  &_back{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\e9a0',$border:$gray);&{font-size:14px;}}
  &_cancel{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\e817',$border:$gray);&{font-size:14px;}}
  &_play{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\e8ae',$border:$gray);&{font-size:14px;}}
  &_log{@include btn(#fff,$x:8px,$y:3px,$addTxt:'\f233',$border:$gray);&{font-size:14px;}}
  &_cog{width:29px;height:29px;border-radius:3px;border:1px solid #adadad;font-size:0;&::before{@include fontello('\e980');font-size:21px;color:#999;}}
  &_circleAdd{@include btn(#fff,#555,$x:10px,$y:5px,$addTxt:'\e81a',$border:$gray);}
  &_circleMinus{@include btn(#fff,#555,$x:10px,$y:5px,$addTxt:'\e81c',$border:$gray);}
  &_more{font-size:0;
    &::after{@include fontello('\e92c');font-size:16px;color:#666;}
  }
}
.ico{
  &_attach{@include ico_only('\ec9f');}
}
.f{
  @each $type, $col in $_work{
    $i: index($_work, $type $col);
    &_#{$type}{color:$col;}
  }
}
.switch{
  &_single{text-align:center;
    &>label{position:relative;display:block;width:100%;line-height:26px;font-size:13px;
      &:has(input[type=checkbox]:checked){background-color:$gray;color:#fff;}
    }
    input[type=checkbox]{position:absolute;width:0px;height:0px;overflow:hidden;opacity:0;}
    &+button{width:100%;margin-top:5px;}
    &+.period_custom{display:none;}
  }
  &_toggle{display:inline-flex;flex-shrink:0;justify-content:center;vertical-align:middle;
  $unselectedColor:#c5c9d0;$hoverColor:#868686;$selectColor:$blue;
    input{position:absolute;opacity:0;width:0;height:0;appearance:none;outline:none;box-shadow:none;vertical-align:middle;
      &+label{position:relative;left:-1px;width:43px;height:24px;cursor:pointer;z-index:100;background-color:#fff;border-radius:28px;word-break:keep-all;white-space:nowrap;border:1px solid $unselectedColor;vertical-align:middle;outline:none;cursor:pointer;letter-spacing:-.05em;font-size:0;
        &::before{position:absolute;top:3px;right:22px;display:inline-block;content:"";width:16px;height:16px;background-color:$unselectedColor;border-radius:50%;transition:.05s;}
      }
      &:hover+label{box-shadow:0 0 3px $selectColor;}
      &:not(&:checked):hover+label{box-shadow:0 0 3px $unselectedColor;}   
      &:checked+label{transition:0.5s;border-color:$selectColor;
        &::before{right:3px;background-color:$selectColor;}
        &::after{color:$selectColor;}
      }
    }
    [data-label]{margin-left:30px;}
    [data-label]::after{position:absolute;right:calc(100% + 5px);content:attr(data-label);font-size:11px;line-height:24px;color:$unselectedColor;}
  }
}
.flex_wrap{display:flex;align-items:center;}
.flex_ver{display:flex;flex-direction:column;gap:40px;}
.white_nowrap{white-space:nowrap;}
.tool{display:flex;gap:6px;align-items:center;}
// list
.dot_lst{
  dd,li{display:flex;align-items:center;gap:8px;@include dot{background-color:#666;};}
}
.checkbox_lst{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:10px;word-break:keep-all;line-height:1.2;
  li{flex:0 calc((100% - 50px) / 6);}
  [type="checkbox"]{align-self:flex-start;margin-top:2px;}
}
//box
@mixin box{border-radius:5px;}
.box{
  &_paleGray{@include box;background-color:#edf0f3;padding:20px;}
  &_white{@include box;background-color:#fff;box-shadow:0 1px 8px rgba(0, 0, 0, .07);padding:30px;}
}
// table
.tbl_top{display:flex;align-items:center;margin-bottom:15px;
  .total{color:#555;
    span:first-of-type{color:#000;}
    em{color:$blue;}
  }
  button,a{min-height:40px;}
  .tool{margin-left:auto;}
}
.tbl_bot{@extend .tbl_top;margin:15px 0 0;}
.tbl_wrap{height:var(--h);border-top:2px solid $blue;font-size:16px;overflow-y:auto;&:not(:has(.tui-pagination)){background-color:$paleGray;}
  header h1,
  th{color:#000;font-weight:700;background-color:#f9fafb;}
  td:has(.ellipsis){text-align:left;
    .ellipsis{width:var(--w);text-overflow:ellipsis;overflow:hidden;vertical-align:middle;white-space:nowrap;}
  }
}
.cont_body .tbl_view{background-color:#fff;}
.tbl_view{@extend .tbl_wrap;
  header h1{display:flex;gap:10px;padding:20px;
    strong{flex-shrink:0;}
  }
  .board_tit{display:flex;gap:10px;padding:15px 20px;border-bottom:1px solid #e7e7e7;
    .ipt_tit{flex:1;}
  }
  .writer_info{border:1px solid #adadad;border-width:1px 0;border-bottom-color:#e7e7e7;padding:20px;}
  .dot_lst{display:flex;align-items:center;gap:40px;color:#555;}
  .article_conts{padding:20px;white-space:pre-wrap;}
  [contenteditable]{@include ipt_common;min-height:calc(100vh - 450px);}
  [data-empty]:empty::before{content:attr(data-empty);font-size:16px;color:#555;}
  .attached{@extend .writer_info;display:flex;gap:25px;border-top-color:#e7e7e7;border-bottom-color:#adadad;
    strong{line-height:29px;}
    ul{display:flex;flex-direction:column;gap:10px;}
  }
}
.tbl_hover{
  tbody tr:hover{cursor:pointer;background-color: $paleGray;}
  tr.select_tr{background-color:#f4f3ee;}
}
.tbl_default{text-align:center;color:#555;background-color:#fff;  
  thead{position:sticky;left:0;top:0;z-index:5;
    &::after{position:absolute;left:0;top:54px;@include shape(100%,0);border-bottom:1px solid #adadad;}
  }
  th,td{padding:15px 10px;}  
  td{border-bottom:1px solid #e7e7e7;}  
}
.tbl_tit{border-top:2px solid $blue;border-bottom:1px solid #adadad;padding:15px;
 h1{color:$blue;font-size:16px;} 
}
.tbl_row{
  th,td{padding:15px 10px;border-bottom:1px solid #e7e7e7;}
  th{width:15%;color:#000;font-weight:700;background-color:#f9fafb;text-align:left;}
  input:not(:is([type="radio"],[type="checkbox"],.not_full)),select:not(.not_full){width:100%;}
}
/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:$blue;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;border:1px solid #ccc;
      &:hover{background-color:#edf0f3;}
    }
    .tui-is-disabled{border-color:#eee;}
    .tui-ico-#{$type}{@include f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }    
  }
}
.breadcrumb{display:flex;color:#000;align-items:center;gap:8px;margin-left:auto;font-size:13px;
  a{color:#888;}
  li:first-child a{font-size:0;
    &::before{@include fontello('\ea4c');font-size:12px;}
  }
  a::after{@include fontello('\e890');margin-left:8px;font-size:13px;}
}
// filter
.filter{border:1px solid #ddd;border-width:1px 0;padding:15px 4px;margin-bottom:20px;}
.filter_lst{display:flex;gap:6px;
  button{height:100%;}
}
//tab
.tab_wrap{position:relative;}
.tab{border-bottom:2px solid $blue;}
.tab_lst{display:flex;
  li{border:1px solid #adadad;border-bottom-width:0;
    &:not(:first-child){border-left-width:0;}
  }
  a{min-width:180px;text-align:center;color:#adadad;font-size:16px;padding:10px 0;font-weight:700;}
  .on a{background-color:$blue;color:#fff;
    &::before{@include fontello('\eadd');margin-right:10px;}
  }
}
.tab_cont{
  &>.tool{position: absolute;right:0;top:10px;}
  &>.tbl_wrap{border-top-width:0;}
}
.select_custom{display:inline-block;position:relative;cursor:pointer;vertical-align:middle;min-width:60px;font-size:16px;
  &.active{
    &:focus-within{z-index:9999;
      .optionList{max-height:500px;top:calc(100% + 1px);}
      & > ul{border:1px solid #adadad;}
    }
  }
  .label{align-items:center;display:flex;gap:8px;width:100%;padding:0 10px;cursor:pointer;text-align:left;color:#222;font-weight:700;
    &::after{@include fontello('\e86e');}
  }
  &>ul{position:absolute;top:100%;right:50%;max-height:0;background:#fff;color:#000;list-style-type:none;overflow:hidden;transform:translateX(50%);
    &>li{display:flex;align-items:center;gap:8px;position:relative;transition:.1s;line-height:35px;padding:0 30px;white-space:nowrap;   
      &.disabled{background-color:#eee;cursor:not-allowed;color:#aaa;
        &:hover{background:#eee;}
      }
      &:hover{background:#f5f5f5;}
    }
  }
  i{display:flex;align-items:center;font-size:0;}  
}

// attach
.file_attach{flex:1;position:relative;display:flex;align-items:center;min-height:70px;border:2px dashed #ebebeb;background-color:#fff;}  
.drop_zone,
.attach_zone{width:100%;height:100%;align-self:flex-start;}
.attach_list{display:flex;flex-direction:column;align-items:flex-start;gap:20px;padding:10px;}
.attach_list li{position:relative;display:flex;gap:5px;padding:0;border-top:none;z-index:1000;text-align:left;line-height:17px;
  &::before,
  &::after{display:none;}
}
.file_attach:hover{border-color:#ccc;}
.file_attach .drop_info{display:none;position:absolute;left:0;top:50%;transform:translateY(-50%);gap:30px;align-items:center; color:#989898;text-align:left;word-break:keep-all;font-size:12px;line-height:15px;letter-spacing:-.3px;padding:0 15px;
  &::before{display:flex;align-items:center;width:101px;height:36px;border:2px solid #d83d48;border-radius:5px;background:url(../images/ic-file.png) 11px 50% no-repeat,#fff;content:"파일선택";color:#f05050;padding:0 14px 0 43px;}
  p{flex-grow:1;}
  span{color:#000;}
}
.file_attach:has(.attach_list:empty) .drop_info{display:flex;}
.attach_thumb{display:block;max-width:20px;max-height:20px;}
.btn_file_wrap,
.file_attach{overflow:hidden;position:relative;text-align:center;}
.btn_file_wrap{
  input::-webkit-file-upload-button{cursor:pointer;}
  &:hover{.btn_red{background-color:#fff;color:$red;}}
}
.btn_file_wrap .btn_file,
.file_attach .btn_file{position:absolute;top:-1px;left:-1px; right:-1px;bottom:-1px;border:none;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:none;z-index:100;}
.file_del{@include shape(15px,17px);flex-shrink:0;
  &::before{@include fontello('\e928');font-size:13px;color:$red;line-height:17px;} 
}
.file_attached{position:relative;border:1px solid #ebebeb;
  .attach_list li a{display:flex;gap:7px;
    &.preview{flex-shrink:0;}
    &.download::after{@include fontello('\eae8');font-size:20px;}
    &:hover:has(img){outline:1px solid $blue;}
  }
  i{flex-shrink:0;position:relative;top:1px;}  
}